@media (max-width: 420px) {
  /* Header */
  .hero-header {
    margin: 80%;
  }
  .skill-icons {
    justify-content: center;
  }
  .skill-icon {
    font-size: 3rem;
    padding: 0 10px;
  }
  .scroll {
    display: none;
  }
  /* About */
  .about-wrapper {
    height: auto;
    width: 90%;
    flex-direction: column;
  }
  .content-sub {
    margin: 0 auto;
  }
  .about-wrapper > img {
    height: 30vh;
  }
  .about-text {
    padding: 0.6rem 1rem;
    text-align: center;
  }
  /* Projects */
  .carousel-item {
    --width: clamp(250px, 30vw, 300px);
    --height: clamp(350px, 40vw, 400px);
  }
  /* Contact */
  .hover span {
    display: none;
  }
  .hover::after {
    content: "Tap";
  }
  .fa-bounce {
    margin-top: 40px;
  }
  /* Footer */
  .footer {
    bottom: 10px;
  }
  .footer:hover {
    height: 66%;
  }
  .footer #container {
    height: 61vh;
  }
  .footer #cont {
    right: auto;
    width: fit-content;
  }
  .footer_center {
    width: 24rem;
  }
}
